<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias alias="BoardVO" type="com.djts.ddeul.vo.BoardVO"/>
		<typeAlias alias="PaginationVO" type="com.djts.ddeul.vo.PaginationVO"/>
		<typeAlias alias="UserVO" type="com.djts.ddeul.vo.UserVO"/>
		<typeAlias alias="ReviewVO" type="com.djts.ddeul.vo.ReviewVO"/>
	</typeAliases>
  
</configuration>